body {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  background-image: url("images/background-template.jpg");
}

main,
header,
footer {
  --padding: 10px;
  border: solid black;
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  background-color: lightcoral;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: black;
  color: white;
}
footer > ul {
  justify-content: space-evenly;
}

footer > ul a {
  color: white;
}

i {
  font-size: 28px;
}

[class$="-page"] {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 30px 50px;
  --padding-right: 50px;
}

.avatar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.current {
  color: lightcoral;
}
